body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.minesweeper-board {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  height: 80vh;
  width: 80vh;
  margin: 2em;
}

.board-row {
  display: flex;
  gap: 0.5em;
  width: 100%;
  justify-content: space-evenly;
}

.board-tile {
  flex: 1;
  perspective: 1000px;
}

.board-tile::after {
  content: "";
  display: block;
  padding-top: 100%;
}

.tile-mine .tile-back {
  background-color: red;
}

.tile-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.tile-revealed .tile-inner {
  transform: rotateY(180deg);
}

.tile-front, .tile-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
}

.tile-front {
  background-color: #e1e1e1;
}
.tile-flagged {
  background: orange;
}


.tile-back {
  background-color: #3498db;
  color: #fff;
  transform: rotateY(180deg);
}
